.chart-pie,
.has-fixed-height {
    height: 202px;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border-radius: 2px;
    background-color: #333;
    color: #fff;
    padding: 7px 12px
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    left: 10px;
    border-radius: 2px;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
    background-color: #37474F;
    text-align: center
}

.chart,
.chart-container {
    position: relative;
    width: 100%
}

.bullet-title,
.c3-text,
.c3-tooltip th {
    font-weight: 500
}

.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover {
    background-color: #455A64
}

.jvectormap-zoomin {
    top: 10px
}

.jvectormap-zoomout {
    top: 40px
}

.chart-container.has-scroll {
    overflow-x: scroll;
    overflow-y: visible;
    max-width: 100%
}

.chart {
    display: block
}

.chart.has-minimum-width {
    min-width: 300px;
}

.chart-pie {
    width: 100%;
    min-width: 500px
}

.c3 svg {
    font-size: 12px
}

.c3 line,
.c3 path {
    fill: none;
    stroke: #999
}

.c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.c3-chart-arc path {
    stroke: #fff
}

.c3-chart-arc text {
    fill: #fff;
    font-size: 13px
}

.c3-grid line {
    stroke: #aaa
}

.c3-grid text {
    fill: #aaa
}

.c3-xgrid,
.c3-ygrid {
    stroke-dasharray: 3 3
}

.c3-text.c3-empty {
    fill: grey;
    font-size: 2em
}

.c3-line {
    stroke-width: 2px
}

.c3-area {
    stroke-width: 0;
    opacity: .4;
    filter: alpha(opacity=40)
}

.c3-circle._expanded_ {
    stroke-width: 1.5px;
    stroke: #fff
}

.c3-selected-circle {
    fill: #fff;
    stroke-width: 2px
}

.c3-bar {
    stroke-width: 0
}

.c3-bar._expanded_ {
    fill-opacity: .75
}

.c3-chart-arcs-title {
    font-size: 1.3em
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #333;
    font-size: 15px
}

.c3-chart-arcs .c3-chart-arcs-gauge-max,
.c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #999
}

.c3-chart-arc .c3-gauge-value {
    fill: #333;
    font-size: 28px
}

.bullet-tick text,
.c3-legend-item,
.c3-tooltip td,
.d3-tip {
    font-size: 12px
}

.c3-target.c3-focused {
    opacity: 1;
    filter: alpha(opacity=100)
}

.c3-target.c3-focused path.c3-line,
.c3-target.c3-focused path.c3-step {
    stroke-width: 2px
}

.c3-target.c3-defocused {
    opacity: .3!important;
    filter: alpha(opacity=30)!important
}

.c3-region {
    fill: #546E7A;
    fill-opacity: .1
}

.c3-brush .extent {
    fill-opacity: .1
}

.c3-legend-background {
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1;
    opacity: .75;
    filter: alpha(opacity=75)
}

.c3-tooltip {
    background-color: #fff;
    empty-cells: show;
    opacity: .95;
    filter: alpha(opacity=95)
}

.c3-tooltip th {
    background-color: #333;
    padding: 4px 10px;
    text-align: center;
    color: #fff;
    border: 1px solid #333
}

.c3-tooltip td {
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ddd
}

.d3-tip,
.venntooltip {
    background-color: #333;
    color: #fff;
    position: absolute
}

.c3-tooltip td>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px
}

.c3-tooltip td.value {
    text-align: right
}

.d3-axis path {
    fill: none;
    stroke: #999
}

.d3-axis line {
    stroke: #eee
}

.d3-axis-solid line,
.d3-axis-solid path,
.d3-axis-strong line,
.d3-axis-strong path {
    stroke: #ccc
}

.d3-axis .tick,
.d3-axis .tick text {
    font-size: 12px;
    fill: #333
}

.d3-axis-solid .tick,
.d3-axis-solid .tick text {
    fill: #999
}

.d3-axis-strong .tick,
.d3-axis-strong .tick text {
    fill: #333
}

.d3-axis-transparent path {
    stroke: none
}

.d3-axis-transparent line {
    stroke: #e5e5e5
}

.d3-axis-transparent .tick,
.d3-axis-transparent .tick text {
    fill: #999
}

.d3-tip {
    padding: 8px 15px;
    border-radius: 3px;
    margin-bottom: -3px;
    z-index: 1070
}

.d3-tip .d3-tip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.d3-tip.n .d3-tip-arrow {
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #333
}

.d3-tip.e .d3-tip-arrow {
    top: 50%;
    left: -4px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #333
}

.d3-tip.w .d3-tip-arrow {
    top: 50%;
    right: -4px;
    margin-top: -4px;
    border-width: 4px 0 4px 4px;
    border-left-color: #333
}

.d3-tip.s .d3-tip-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
    border-width: 0 4px 4px;
    border-bottom-color: #333
}

.venntooltip {
    text-align: center;
    white-space: nowrap;
    padding: 7px 12px;
    border-radius: 3px;
    display: none
}

.d3-line {
    fill: none
}

.d3-line-thin {
    stroke-width: 1px
}

.d3-line-medium {
    stroke-width: 1.5px
}

.d3-line-strong {
    stroke-width: 2px
}

.d3-line-circle {
    fill: none;
    cursor: pointer
}

.d3-line-circle-thin {
    stroke-width: 1px
}

.d3-line-circle-medium {
    stroke-width: 1.5px
}

.d3-line-circle-strong {
    stroke-width: 2px
}

.d3-grid .tick line {
    stroke-width: 1px;
    stroke: #e5e5e5
}

.d3-grid .tick text {
    fill: #333;
    stroke: none
}

.d3-grid-dashed .tick {
    stroke-dasharray: 4, 2;
    stroke-width: 1px;
    stroke: #e5e5e5
}

.d3-grid-dashed path {
    stroke-width: 0
}

.d3-crosshair-overlay {
    fill: none;
    pointer-events: all
}

.bullet-tick line {
    stroke: #999;
    stroke-width: 1px
}

.bullet-tick text {
    fill: #999
}

.bullet-marker {
    stroke-width: 2px
}

.bullet-title {
    font-size: 13px
}

.bullet-subtitle {
    fill: #999
}

.bullet-1 .bullet-range-1 {
    fill: rgba(96, 125, 139, .8)
}

.bullet-1 .bullet-range-2 {
    fill: rgba(96, 125, 139, .4)
}

.bullet-1 .bullet-range-3 {
    fill: #607D8B
}

.bullet-1 .bullet-measure-1 {
    fill: rgba(84, 110, 122, .9)
}

.bullet-1 .bullet-measure-2 {
    fill: #fff
}

.bullet-1 .bullet-marker {
    stroke: #37474F
}

.bullet-2 .bullet-range-1 {
    fill: rgba(255, 112, 67, .6)
}

.bullet-2 .bullet-range-2 {
    fill: rgba(255, 112, 67, .3)
}

.bullet-2 .bullet-range-3 {
    fill: #FF7043
}

.bullet-2 .bullet-measure-1 {
    fill: rgba(244, 81, 30, .9)
}

.bullet-2 .bullet-measure-2 {
    fill: #fff
}

.bullet-2 .bullet-marker {
    stroke: #D84315
}

.bullet-3 .bullet-range-1 {
    fill: rgba(102, 187, 106, .7)
}

.bullet-3 .bullet-range-2 {
    fill: rgba(102, 187, 106, .35)
}

.bullet-3 .bullet-range-3 {
    fill: #66BB6A
}

.bullet-3 .bullet-measure-1 {
    fill: rgba(67, 160, 71, .9)
}

.bullet-3 .bullet-measure-2 {
    fill: #fff
}

.bullet-3 .bullet-marker {
    stroke: #2E7D32
}

.counter-icon {
    font-size: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px
}

.jqsfield,
.jqstooltip {
    font-size: 12px!important;
    font-family: Roboto, sans-serif!important
}

.jqstooltip {
    padding: 7px!important;
    line-height: 1.6666667!important;
    border: 0!important;
    border-radius: 3px!important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.timer,
.timer-weekdays {
    padding: 0;
    text-align: center;
    list-style: none
}

.timer-weekdays {
    margin: 0
}

.timer-weekdays>li {
    display: inline-block;
    margin: 2px 0
}

.timer-weekdays>li>a {
    display: block;
    margin: 0 1px
}

.timer-weekdays .label-default {
    background-color: #ccc;
    border-color: #ccc
}

.timer-weekdays .label-default:focus,
.timer-weekdays .label-default:hover {
    border-color: #999
}

.timer {
    margin: 0
}

.timer>li {
    font-size: 46px;
    text-align: center;
    display: inline-block;
    color: #555;
    font-weight: 300
}

.timer>li.dots {
    font-size: 25px;
    padding: 16.67px 0
}

.timer>li>span {
    display: block;
    font-size: 13px
}

.task-details {
    float: right;
    margin: 0
}

@media (max-width:1024px) {
    .task-details {
        float: none;
        margin-top: 15px;
        list-style: none;
        padding: 0
    }
    .task-details>li {
        float: left;
        position: relative;
        padding-right: 20px;
        margin-top: 0
    }
    .task-details>li:before {
        content: 'â€¢';
        position: absolute;
        right: 8px;
        color: #999
    }
    .task-details>li:last-child:before {
        content: none
    }
}

@media (max-width:768px) {
    .chart-container {
        overflow-x: scroll;
        overflow-y: visible;
        max-width: 100%
    }
    .task-details>li {
        float: none
    }
    .task-details>li:before {
        content: none
    }
    .task-details>li+li {
        margin-top: 10px
    }
}
